*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 15px;
    font-family: 'fonts/optimusprincepsregular';
}
.startpage{
    width: 100%;
    height: 100%;
    background: url(photo/germany.jpg) center center/cover no-repeat;
    position: absolute;
}
.gif{
    position: absolute;
    animation: gif 15s ease-in-out alternate infinite;
    left: 50%;
    transform: translate(-50%);
}
.firstpageText{
    position: absolute;
    color: white;
    top: 70%;
    left: 15%;
    font-size: 2.5em;
    opacity: 1;
    transition: 1s;
}
.firstpageText>span:last-child{
    animation: textopacity 5s;
}
@keyframes textopacity{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.firstpageText>span:nth-child(1){
    position: relative;
    animation: textmove 2s;
}
@keyframes textmove{
    from{  
        right: 100%;
        opacity: 0;
    }
    to{
       right: 0%;
       opacity: 1;
    }
}
.firstpageText>span:nth-child(2){
    position: relative;
    animation: textmove2 3s alternate-reverse both;
}
@keyframes textmove2{
    0%{
        color: whitesmoke;
    }
    100%{
        color: darkolivegreen;
    }
}
input[value=start] {
    display: none;
}
label[for=start] {
    position: absolute;
    left: 20%;
    top: 90%;
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-40%,-90%);
    background-color: darkolivegreen;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    border: none;
    font-size: 1.3rem;
    z-index: 3;
    overflow: hidden;
}
label[for=start]::before{
    content: "";
    position: absolute;
    right: 120%;
    top: 90%;
    width: 5px;
    height: 50px;
    transform: translate(0%,-90%);
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px gray;
    transition: 1s;
    z-index: 3;
}
label[for=start]::after{
    content: "CloseMenu";
    position: absolute;
    left: 20%;
    top: 90%;
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-120%,-90%);
    background-color: darkolivegreen;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    border: none;
    font-size: 1.3rem;
    overflow: hidden;
}
label[for=start]:hover{
    border: 1px solid #fff;
}
label[for=start]:hover::before{
    right: -10%;
}
input[value=start]:checked~.firstpageText{
opacity: 0;
transition: 1s;
}
input[value=start]:checked~label[for=start]::after{
    transform: translate(-20%,-90%);
}
input[value=start]:checked~.Section>.food,
input[value=start]:checked~.Section>.drink,
input[value=start]:checked~.Section>.lifestyle{
    transform: translateX(0%);
}
.Section{
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: 2;
    overflow: hidden;
}
.cal-1-3{
    position: relative;
    width: 27.33%;
    margin-left: 5%;
    height: 50%;
    background-color: aqua;
    float: left;
    top: 25%;
    border-radius: 10px;
}
.food{
    transition: 1s;
    transform: translateX(-150%);
    background: url(photo/food/food.jpg)center center/cover no-repeat;
}
.drink{
    transition: 1s;
    transform: translateY(-350%);
    background: url(photo/drink/Asbach.jpg)center center/cover no-repeat;
}
.lifestyle{
    transition: 1s;
    transform: translateX(220%);
    background: url(photo/lifestyle/rick-gebhardt-3faX71BaNe0-unsplash.jpg)center center/cover no-repeat;
}
.Section>div a{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    transition: 1s;
    opacity: 0;
}
.cal-1-3>a>span{
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cal-1-3:hover a{
    opacity: 1;
}



/* cascading style sheets food --------------- */
.backstart{
    width: 13%;
    height: 7%;
    position: absolute;
    text-align: center;
    line-height: 50px;
    top: 5%;
    left: 5%;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s;
    z-index: 2;
    
}
.backstart>a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    font-size: 20px;  
}
.backstart:hover{
    background-color: white;
}
.part1{
    width: calc(100vw -10px);
    height: 90vh;
}
.wallpaper{
    width:100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}
#wallpaper{
    background: url(photo/food/wallpaper.jpg)center center/cover no-repeat;
}
#wallpaper2{
    background: url(photo/drink/wallpaper.jpg)center center/cover no-repeat;
}
#wallpaper3{
    background: url(photo/lifestyle/wallpaper3.jpg)center center/cover no-repeat;
}
.wallpaper::before{
    content: "";
    width:100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.4;
    z-index: 0;
}
.textwallpaper{
    width: 50%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
    background-color: transparent;
}
.textwallpaper>span{
    position: absolute;
    color: black;
    font-family: cursive;

}
.textwallpaper>span:nth-child(1){
    top: 10%;
    left: 30%;
    font-size: 70px;
}
.textwallpaper>span:nth-child(2){
    top: 50%;
    font-size: 40px;
}
.scroll{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-95%);
    /* border: 1px solid ; */
    border-radius: 20%;
    background: url(photo/flasher/down.jpg)center center/cover no-repeat;
    animation: down 1s alternate-reverse infinite;
    background-color: gray;
    opacity: 0.7;
}
@keyframes down{
    from{
        top: 90%;
    }
    to{
        top: 85%;
    }
}
.description{
    position: relative;
    width: 100%;
    height: 70%;
    /* background-color: aqua; */
    display: inline-block;
}
.descriptionImgBc{
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: black;
}
.descriptionImgChild{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color:red;
    top: 25%;
    left: 60%;
    
}
.descriptionText{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}
.descriptionText>span:nth-child(1){
    position: absolute;
    font-size: 50px;
    top: 20%;
}
.descriptionText>span:nth-child(2){
    position: absolute;
    font-size: 20px;
    top: 40%;
}
/* ----- photo food ------ */
#Sauerbraten{
    background: url(photo/food/Sauerbraten2.jpg) center center/cover no-repeat;
    background-color: white;
    opacity: 0.8;
}
#Sauerbraten2{
    background: url(photo/food/Sauerbraten.jpeg) center center/cover no-repeat;
}
#Rouladen{
    background: url(photo/food/Rouladen.jpeg) center center/cover no-repeat;
}
#Rouladen2{
    background: url(photo/food/Rouladen2.jpeg) center center/cover no-repeat;
}
#Goulash2{
    background: url(photo/food/goulash.jpeg) center center/cover no-repeat;
}
#Goulash{
    background: url(photo/food/goulash2.jpg) center center/cover no-repeat;
}
/* ---------end photo food------ */
/* ------------start drink photo------- */
#Schnapps2{
    background: url(photo/drink/schnapps.jpg) center center/cover no-repeat;
}
#Schnapps{
    background: url(photo/drink/schnapps2.jpg) center center/cover no-repeat;
}
#ASBACHURALT{
    background: url(photo/drink/ASBACHURALT.jpg) center center/cover no-repeat;
}
#ASBACHURALT2{
    background: url(photo/drink/ASBACHURALT2.jpeg) center center/cover no-repeat;
}
#KINDERPUNSCH{
    background: url(photo/drink/KINDERPUNSCH.jpg) center center/cover no-repeat;
}
#KINDERPUNSCH2{
    background: url(photo/drink/KINDERPUNSCH2.jpeg) center center/cover no-repeat;
}
/* ---------- end drink photo-*------- */

/* --------- start life style photo -------- */
#culture{
    background: url(photo/lifestyle/culture2.jpg) center center/cover no-repeat;
}
#culture2{
    background: url(photo/lifestyle/culture.jpg) center center/cover no-repeat;
}
#people{
    background: url(photo/lifestyle/people.jpg) center center/cover no-repeat;
}
#people2{
    background: url(photo/lifestyle/people2.jpg) center center/cover no-repeat;
}
#Conclusion{
    background: url(photo/lifestyle/flag2.jpg) center center/cover no-repeat;
}
#Conclusion2{
    background: url(photo/lifestyle/flag.jpg) center center/cover no-repeat;
}
/* ---------- end life style photo ------- */
.rtl{
    right: 0;
}
.ltr{
    float: left;
    margin-left: 10px;
}
.left0{
    left: -10%;
}
@media screen and (max-width:400px){
    .startpage{
        overflow: hidden;
    }
    .firstpageText{
        font-size: 30px;
        top: 70%;
    }
    label[for=start] {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%,-100%);
    }
    .cal-1-3{
        margin-top: 50px;
        width: 50%;
        height: 100px;
        top: 8%;
    }
    .Section>div a{
        transition: 3s;
        font-size: 30px;
    }
    input[value=start]:checked~.Section>div a{
        opacity: 1;
    }
}
